$white: #ffffff;   $black: #333333;  $orange: #de411b;  $silver: #b0b7cf;  $gray: #9b9b9b;  $green: #0b6623;  $red: #d90000;  $white: #ffffff;


// colors
$white: #E0E7EE;

$black1: #15161C;
$black2: #1A1B21;

$grey1: #9D9EA7;
$grey2: #53555D;
$grey3: #2F3035;

$red: #FF0530;
$yellow: #DE9817;

// mixins
@mixin outside-border($width, $height, $deg) {
  background-image: linear-gradient($deg, $grey3 0%, transparent 100%);
  width: $width;
  height: $height;
}