@import 'commons';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 99;
  background: $black1;

  .header-container {
    position: relative;
    margin: 0 10%;
    border-bottom: 1px solid $grey3;
    height: 61px;
    border-bottom: 1px solid $grey3;

    .header-logo {
      float: left;
      width: 200px;
      height: 60px;
      background: $black2;
      text-align: center;
      border-left: 1px solid $grey3;
      border-right: 1px solid $grey3;

      a {
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
        line-height: 60px;
        font-weight: 400;
        color: $white;
      }
    }

    .header-search {
      float: left;
      position: relative;
      width: calc(100% - 400px);

      input {
        width: 100%;
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        padding: 10px 10px 10px 50px;
        color: $grey1;
        background: transparent;
        border: 0;

        &:hover, &:active, &:focus {
          outline: none;
        }
      }

      .fa-search {
        position: absolute;
        left: 20px;
        top: 20px;
        color: $grey1;
        font-size: 20px;
      }

      .search-dropdown {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: $black2;
        border-bottom: 1px solid $grey3;
        max-height: 296px;
        overflow: auto;
        transition: .3s ease;

        &::-webkit-scrollbar-track {
          border-radius: 0;
          background-color: rgba($grey2, 0.1);
        }

        &::-webkit-scrollbar {
          width: 12px;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 6px rgba($grey2, 0.3);
          background-color: rgba($grey2, 0.5);
        }

        a {
          display: block;
          padding: 10px 12px;
          color: $grey1;
          border-bottom: 1px solid $grey2;

          &:last-of-type {
            border-bottom: 0;
          }

          &:hover {
            background: rgba($grey2, 0.1);
          }

          i {
            padding-right: 12px;
          }
        }
      }
    }

    .header-settings {
      float: left;
      width: 200px;
      height: 60px;
      background: $black2;
      border-left: 1px solid $grey3;
      border-right: 1px solid $grey3;
      text-align: center;

      button {
        display: inline-block;
        background: transparent;
        border: 0;
        margin: 18px 6px;
        padding: 0 4px;

        i {
          font-size: 24px;
          color: $grey1;
          transition: color .2s ease;

          &:hover {
            color: $white;
          }

          &.fa-sign-out {
            color: $red;
          }
        }
      }
    }
  }
}

.heading {
  display: block;
  text-align: center;
  margin: 35px 20px 40px;

  h1 {
    color: $white;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 5px;
    text-transform: capitalize;
  }

  p {
    color: $grey1;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 19px;
    text-transform: uppercase;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: $black2;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $grey3;
  }

  span {
    color: $grey1;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
  }
}

.modal-box-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($black1, 0.9);
  z-index: 999;

  .modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 335px;
    background-color: $black2;
    border: 1px solid $grey3;
    box-shadow: 0 0 20px 0 $grey3;
    z-index: 99;

    .modal-box-name {
      position: relative;
      padding: 16px 20px;
      color: $white;

      h2 {
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;

        span {
          text-transform: capitalize;
        }
      }

      .close {
        float: right;
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        width: 28px;
        text-align: center;
        color: $grey1;
        background: transparent;
      }
    }

    .modal-box-search {
      .input-group {
        position: relative;

        i {
          position: absolute;
          left: 20px;
          top: 20px;
          color: $grey1;
          font-size: 20px;
        }

        input {
          width: 100%;
          font-family: 'Oswald', sans-serif;
          font-size: 17px;
          font-weight: 400;
          line-height: 40px;
          padding: 10px 10px 10px 50px;
          color: $grey1;
          background: $black1;
          border: 0;

          &:hover, &:active, &:focus {
            outline: none;
          }
        }
      }
    }

    .modal-box-list {
      ul {
        max-height: 210px;
        padding-top: 5px;
        margin: 2px 10px;
        overflow: auto;

        &::-webkit-scrollbar-track {
          border-radius: 0;
          background-color: rgba($black2, 0.3);
        }

        &::-webkit-scrollbar {
          width: 8px;
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 8px;
          box-shadow: none;
          background-color: rgba($grey2, 1);
        }

        li {
          position: relative;
          font-size: 17px;
          font-weight: 400;
          line-height: 20px;
          margin: 0 10px;
          overflow: hidden;

          a {
            position: relative;
            display: block;
            color: $white;
            padding: 10px 0;
            transition: padding .2s ease;

            &:before {
              content: '\F105';
              font: normal normal normal 14px/1 FontAwesome;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              font-size: 17px;
              line-height: 20px;
              margin-left: -10px;
              margin-right: 5px;
            }

            &:hover {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}