@import 'reset';
@import 'commons';
@import 'elements';
@import 'notifications';
@import 'locations';

body {
  font-family: 'Oswald', sans-serif;
  position: relative;
  color: $white;
  background: $black1;
  min-height: 100vh;
  padding: 70px 0;
}

.grid-container {
  width: 100%;
  padding: 0 10%;
  margin: auto;

  .grid-row {
    margin: 0 -12px;

    &::before, &::after {
      display: table;
      content: " ";
    }
    &::after {
      clear: both;
    }

    & > [class^="grid-col-"] {
      padding: 0 12px;
      float: left;
      min-height: 1px;
    }
    & > .grid-col-3 {
      width: 30%;
    }
    & > .grid-col-4 {
      width: 40%;
    }
    & > .grid-col-5 {
      width: 50%;
    }
    & > .grid-col-7 {
      width: 70%;
    }
    & > .grid-col-10 {
      width: 100%;
    }
  }
}

.fancy-borders {
  .fb-top, .fb-bottom {
    &:before, &:after {
      content: '';
      position: absolute;
      bottom: 100%;
    }

    &:before {
      right: 100%;
      @include outside-border(60px, 1px, 270deg);
    }

    &:after {
      left: 100%;
      @include outside-border(60px, 1px, 90deg);
    }
  }

  .fb-bottom {
    &:before, &:after {
      top: 100%;
      bottom: auto;
    }
  }

  .fb-left, .fb-right {
    &:before, &:after {
      content: '';
      position: absolute;
      right: 100%;
    }

    &:before {
      top: 100%;
      @include outside-border(1px, 60px, 180deg);
    }

    &:after {
      bottom: 100%;
      @include outside-border(1px, 60px, 0deg);
    }
  }

  .fb-right {
    &:before, &:after {
      left: 100%;
      right: auto;
    }
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}