@import "commons";

@mixin floor($width) {
  .face {
    width: $width;

    &.front {
      top: $width/2;
      margin-left: -$width;
    }
    &.back {
      top: -($width/2);
    }
    &.left {
      top: -($width/2);
      margin-left: -$width;
    }
    &.right {
      top: $width/2;
    }
    &.top {
      height: $width;
      width: $width;
    }
  }
}

.location-building {
  position: relative;
  border: 1px solid $grey3;
  margin-bottom: 30px;
  min-height: 432px;

  .map-title {
    position: relative;
    padding: 16px 20px;
    color: $white;
    background: $black2;
    border-bottom: 1px solid $grey3;
    z-index: 9;

    h2 {
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }
  }

  .map-building {
    position: relative;
    background: $black2;
    padding: 21px 20px;
    z-index: 9;

    .building-floors {
      position: relative;
      padding-right: 130px;

      .floors-map {
        min-height: 270px;
        padding: 50px 0 70px;
        text-align: center;

        &.floors-map-1,
        &.floors-map-2,
        &.floors-map-3,
        &.floors-map-4 {
          padding: 80px 0 100px;
        }

        .floor {
          position: relative;
          margin: 0 auto;
          height: 30px;
          bottom: 100%;

          .face {
            position: absolute;
            height: 30px;
            background: $black2;
            border: solid $grey2;

            &.front {
              transform: skew(180deg, 45deg);
              border-width: 1px 0 1px 1px;
            }
            &.back {
              transform: skew(180deg, 45deg);
              border-width: 1px 0 0 0;
            }
            &.left {
              transform: skew(180deg, -45deg);
              border-width: 1px 0 0 0;
            }
            &.right {
              transform: skew(180deg, -45deg);
              border-width: 1px 1px 1px 0;
            }
            &.top {
              transform: rotate(180deg) translate(50%, 50%) skew(-45deg, 45deg);
              border-width: 0;
            }
          }

          &:nth-last-child(n+1) {
            @include floor(60px);
            margin-left: 0;
          }

          &:last-of-type {
            @include floor(90px);
            margin-top: -30px;
          }

          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              z-index: 10 - $i;
            }
          }

          &.danger {
            .face {
              &.front, &.right {
                background: $red;
              }
            }
          }

          &.warning {
            .face {
              &.front, &.right {
                background: $yellow;
              }
            }
          }

          &.unavailable {
            .face {
              &.front, &.right {
                background: $grey3;
              }
            }

            a {
              pointer-events: none;
              cursor: default;
              text-decoration: none;
            }
          }
        }
      }

      .floors-list {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 130px;

        ul {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          width: 100%;

          li {
            position: relative;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            text-align: left;
            padding-left: 40px;
            margin: 10px 5px;
            color: $grey1;

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              width: 30px;
              height: 1px;
              background-image: linear-gradient(270deg, $grey1 0%, $black2 100%);
            }

            &.danger {
              color: $red;

              &:before {
                background-image: linear-gradient(270deg, $red 0%, $black2 100%);
              }
            }

            &.warning {
              color: $yellow;

              &:before {
                background-image: linear-gradient(270deg, $yellow 0%, $black2 100%);
              }
            }

            &.unavailable {
              color: $grey2;

              &:before {
                background-image: linear-gradient(270deg, $grey2 0%, $black2 100%);
              }
            }
          }
        }
      }
    }

    .building-access {
      margin-top: 40px;

      ul {
        text-align: center;

        li {
          position: relative;
          display: inline-block;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          text-align: left;
          padding-left: 15px;
          margin: 0 15px;
          color: $grey1;

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -3px;
            width: 7px;
            height: 7px;
            background: $grey1;
          }

          &.danger {
            color: $red;

            &:before {
              background: $red;
            }
          }

          &.warning {
            color: $yellow;

            &:before {
              background: $yellow;
            }
          }

          &.unavailable {
            color: $grey2;

            &:before {
              background: $grey2;
            }
          }
        }
      }
    }
  }
}

.location-floor {
  position: relative;
  z-index: 9;

  .floor-map {
    position: relative;
    background: $black2;
    padding: 50px;
    border: 1px solid $grey3;
  }
}

.location-room {
  position: relative;
  z-index: 9;

  .room-map {
    position: relative;
    border: 1px solid $grey3;
  }

  .playerContainer,
  .player {
    width: 100%;
    height: auto;
    min-height: 400px;
    background-color: black;
  }

  .vjs-big-play-button { display: none !important; }
}