@import 'commons';

@mixin warning-style($color) {
  border-top: 1px solid $color;

  &:before, &:after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    background-image: linear-gradient($color, transparent);
    width: 1px;
  }
  &:before {
    left: -1px;
  }
  &:after {
    right: -1px;
  }
  .notification-type {
    border-bottom: 1px solid $color;

    .count {
      background: $color;
    }
  }

  .notification-list {
    .notification-item {
      span {
        &.active {
          background: $color;
        }
      }
    }
  }
}

.same-height {
  .notifications {
    min-height: 432px;

    .notification-list {
      .notification-item {
        &:last-of-type {
          border-bottom: 1px solid $grey3;
        }
        &:nth-child(5) {
          border-bottom: 0;
        }
      }
    }
  }
}

.notifications {
  position: relative;
  border: 1px solid $grey3;
  margin-bottom: 30px;
  background: $black2;

  .notification-type {
    position: relative;
    padding: 16px 20px;
    color: $white;
    background: $black2;
    z-index: 9;

    h2 {
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }

    .count {
      float: right;
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      width: 28px;
      text-align: center;
    }
  }

  .notification-list {
    position: relative;
    background: $black2;
    z-index: 10;

    .notification-item {
      position: relative;
      padding-right: 70px;
      margin: 0 20px;
      border-bottom: 1px solid $grey3;

      &:last-of-type {
        border-bottom: 0;
      }

      a {
        display: block;
        color: $white;
        text-decoration: none;
        padding: 16px 0;
        transition: color .2s ease;

        &:hover, &:active, &:focus {
          text-decoration: none;
          outline: none;
        }
      }

      .title {
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 4px;
      }

      .location {
        color: $grey1;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin: 0;
      }

      span {
        transition: color .2s ease;

        &.active, &.date {
          position: absolute;
          right: 0;
          bottom: 16px;
        }

        &.active {
          color: $white;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1px;
          line-height: 17px;
          padding: 4px 8px;
          text-transform: uppercase;
        }

        &.date {
          color: $grey1;
          font-size: 13px;
          font-weight: 400;
          line-height: 17px;
        }
      }
    }
  }

  &.danger {
    @include warning-style($red);

    .notification-item {
      &:hover {
        a, p, .date {
          color: $red;
        }
      }
    }
  }

  &.warning {
    @include warning-style($yellow);

    .notification-item {
      &:hover {
        a, p, .date {
          color: $yellow;
        }
      }
    }
  }
}